// Google Font
@import url('https://fonts.googleapis.com/css?family=Rubik');

// Style Reset
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

// Color Palette
$hue: 40;
$primary-base: hsl($hue, 100%, 50%);
$secondary-base: complement($primary-base);
// Highlights
$primary: mix($secondary-base, $primary-base, 11%);
$secondary: mix($primary-base, $secondary-base, 23%);
$primary-tint: lighten($primary, 30%);
$primary-shade: darken($primary, 30%);
$secondary-tint: lighten($secondary, 30%);
$secondary-shade: darken($secondary, 30%);
// Neutrals
$primary-neutral: mix(complement($primary), $primary, 20%);
$primary-light: lighten($primary-neutral, 10%);
$primary-dark: darken($primary-neutral, 10%);
$secondary-neutral: mix(complement($secondary), $secondary, 25%);
$secondary-light: lighten($secondary-neutral, 10%);
$secondary-dark: darken($secondary-neutral, 10%);
// Black and White
$white: lighten($primary, 49%);
$black: darken($primary, 47%);

// Variables
$nav-height: 3em;
$page-width: 50em;

// Mixins
@mixin background($start: $secondary, $end: $secondary-dark) {
  background: red;
  background: -webkit-linear-gradient(left top, $start, $end);
  background: -o-linear-gradient(bottom right, $start, $end);
  background: -moz-linear-gradient(bottom right, $start, $end);
  background: linear-gradient(to bottom right, $start, $end);
}
@mixin linkup($height: $nav-height) {
	border-top: $height solid transparent;
	margin-top: -$height;
	background-clip: padding-box;
}

body {
  background-color: $white;
  color: $black;
  font-family: "Rubik", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  p {
    margin: 1em 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }
}

#main-header {
  @include background;
  color: $primary;
  position: fixed;
  width: 100%;
  height: $nav-height;
  top: 0;
  left: 0;
  nav {
    max-width: $page-width;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      li {
        height: $nav-height;
        display: flex;
        align-items: center;
        a {
          color: inherit;
          text-decoration: inherit;
          &:hover {
            color: inherit;
          }
        }
      }
    }
  }
}

main {
  margin: 0 auto;
  margin-top: $nav-height+1em;
  max-width: $page-width;
  h2 {
    text-align: center;
    color: $primary;
  }
}

#projects {
  @include linkup;
  a {
    font-weight: bold;
    text-decoration: none;
    color: $secondary;
    &:visited {
      color: $secondary;
    }
    &:hover {
      color: $secondary-shade;
      text-decoration: underline;
    }
    &:active {
      color: $primary-light;
    }
  }
}

#about {
  @include linkup;
  text-align: center;
  h3 {
    color: $secondary;
  }
}

#contact {
  text-align: center;
  padding: 1em 0;
  li {
    display: inline-block;
    padding: 1em 0;
    a {
      font-weight: bold;
      text-decoration: none;
      color: $secondary;
      padding: 1em;
      border: 3px solid $primary-dark;
      border-radius: 20px;
      transition: all 0.5s;
      &:visited {
        color: $secondary;
      }
      &:hover {
        background-color: $primary-light;
      }
    }
    &:last-child {
      display: block;
    }
  }
}

footer {
  @include background;
  padding: 0.5em 0;
  p {
    margin: 0;
  }
}
