// Google Font
@import url('https://fonts.googleapis.com/css?family=Rubik');

// Style Reset
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

// Color Palette
$hue: 40;
$primary-base: hsl($hue, 100%, 50%);
$secondary-base: complement($primary-base);
// Highlights
$primary: mix($secondary-base, $primary-base, 11%);
$secondary: mix($primary-base, $secondary-base, 23%);
$primary-tint: lighten($primary, 30%);
$primary-shade: darken($primary, 20%);
$secondary-tint: lighten($secondary, 30%);
$secondary-shade: darken($secondary, 20%);
// Neutrals
$primary-neutral: mix(complement($primary), $primary, 20%);
$primary-light: lighten($primary-neutral, 10%);
$primary-dark: darken($primary-neutral, 10%);
$secondary-neutral: mix(complement($secondary), $secondary, 25%);
$secondary-light: lighten($secondary-neutral, 10%);
$secondary-dark: darken($secondary-neutral, 10%);
// Black and White
$white: lighten($primary, 48%);
$off-white: darken($white, 10%);
$black: darken($primary, 47%);

// Variables
$nav-height: 3em;
$page-width: 50em;

// Navbar Fix
@mixin linkup($height: 0, $spacer: $nav-height) {
	border-top: $spacer solid transparent;
	margin-top: $height - $spacer;
	background-clip: padding-box;
}

body {
  background-color: $white;
  color: $black;
  font-family: "Rubik", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  p {
    margin: 1em 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
  }
}

#main-header {
  margin-top: $nav-height+3em;
  text-align: center;
  h1 {
    font-weight: 5000;
    font-size: 7em;
    text-transform: uppercase;
    color: $primary;
    margin: 0.1em 0;
  }
  hr {
    max-width: $page-width;
    margin: 0 auto;
    background-color: red;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, $white, $secondary-dark, $white);
  }
}

nav {
  background: linear-gradient(to bottom right, $secondary, $secondary-dark);
  color: $white;
  width: 100%;
  height: $nav-height;
  position: fixed;
  top: 0;
  left: 0;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: $page-width;
    margin: 0 auto;
    li {
      height: $nav-height;
      display: flex;
      align-items: center;
      a {
        font-size: 1.2em;
        color: inherit;
        text-decoration: inherit;
        transition: all 0.2s;
        padding: 0 0.3em;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        &:hover {
          color: $primary-tint;
          border-left: 3px solid $primary-neutral;
          border-right: 3px solid $primary-neutral;
        }
      }
    }
  }
}

main {
  margin: 3em auto 0;
  max-width: $page-width;
  h2 {
    text-align: center;
    color: $primary-shade;
    font-size: 2.5em;
  }
}

#about {
  @include linkup(1em);
  text-align: center;
  h3 {
    color: $secondary;
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
}

#projects {
  @include linkup(1em);
  a {
    font-weight: bold;
    text-decoration: none;
    color: $secondary;
    font-size: 1.3em;
    &:visited {
      color: $secondary;
    }
    &:hover {
      color: $secondary-shade;
      text-decoration: underline;
    }
    &:active {
      color: $primary-light;
    }
  }
}

#contact {
  @include linkup(1em);
  text-align: center;
  li {
    display: inline-block;
    padding: 1em 0;
    a {
      font-weight: bold;
      font-size: 1.3em;
      text-decoration: none;
      color: $secondary;
      padding: 0.8em;
      border: 3px solid $primary-dark;
      border-radius: 20px;
      transition: all 0.2s;
      &:visited {
        color: $secondary;
      }
      &:hover {
        background-color: $primary-light;
      }
    }
    &:last-child {
      display: block;
      margin-top: 0.2em;
    }
  }
}

footer {
  background: linear-gradient(to bottom right, $secondary, $secondary-dark);
  padding: 0.5em 0;
  margin-top: 2em;
  color: $off-white;
  p {
    margin: 0 0 0 1em;
  }
}
